@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Karla", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.karla-regular {
  font-weight: 400;
}

.karla-bold {
  font-weight: 700;
}

:root {
  /* Primary */
  --light-green: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 56%);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --medium-grey: hsl(186, 15%, 59%);
  --dark-grey: hsl(187, 24%, 22%);
}

.form-check-input:checked {
  background-color: var(--green) !important;
  border-color: var(--green) !important;
  box-shadow: unset !important;
}

.form-control:focus {
  box-shadow: unset !important;
  border-color: var(--green) !important;
}

.form-check-label,
.form-control {
  cursor: pointer;
}

.form-control:hover {
  border-color: var(--green) !important;
}
